@media only screen and (max-width: 600px) {
    .nav-span {
      display: none;
    }
  }


  @media only screen and (max-width: 576px) {
    .padd {
      padding-top: 40px;
      padding-bottom: 40px;
      margin-bottom: 40px;
      border: 2px solid black;
      box-shadow: 10px 2px blue;
    }
  }

  